<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<!--    <link rel="stylesheet" href="/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/bodyHeader.css">
    <link rel="stylesheet" href="/css/activity.css">
    <title th:text="${user.nickname} + '님' + ${pageTitle}">사용자 활동</title>
</head>
<script th:src="@{'/js/search.js'}"></script>

<body>
<script src="/js/loading.js"></script>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>
<!--    <a th:href="@{'/info/' + ${user.email}}" class="back-link">-->
<!--        <i class="fas fa-arrow-left"></i> 뒤로 가기-->
<!--    </a>-->
    <a href="#" onclick="goBack(); return false;" class="back-link">
        <i class="fas fa-arrow-left"></i> 뒤로 가기
    </a>

    <div class="activity-header">
        <h2 th:text="${user.nickname} + '님' + ${pageTitle}">사용자 활동</h2>
        <select id="sorting" name="sorting" class="sort-category">
            <!-- 정렬 옵션은 JavaScript로 동적 생성 -->
        </select>
    </div>

    <div id="activity-container">
        <div id="activity-list" class="activity-grid">
            <!-- 활동 목록은 JavaScript로 동적 생성 -->
        </div>
    </div>

    <div id="empty-message" style="display: none;">
        <p th:text="${emptyMessage}">활동이 없습니다.</p>
    </div>

    <div id="likeModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>좋아요를 누른 사용자</h2>
            <ul id="likeUserList" class="user-list"></ul>
        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/user-activity/common-activity.js"></script>
<script th:inline="javascript">
    var userEmail = /*[[${user.email}]]*/ '';
    var category = /*[[${category}]]*/ '';
    var defaultSort = /*[[${defaultSort}]]*/ '';
    var currentUserEmail = /*[[${#authentication.name}]]*/ 'defaultEmail';

</script>
<script th:src="@{'/js/user-activity/' + ${category} + '-activity.js'}"></script>
</body>
</html>