<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="header" th:fragment="bodyHeader">
    <div class="header-content">
        <a href="/jwt-login" class="logo"><h2 class="text-muted">아주키노</h2></a>
        <ul class="nav nav-pills">
<!--            <li><a href="/jwt-login">Home</a></li>-->
            <li th:if="${#authentication.name != 'anonymousUser'}" class="user-info">
                <a th:href="@{'/info/' + ${#authentication.name}}" class="user-icon">
                    <i class="fas fa-user"></i>
                    <span>유저 정보</span>
                </a>
            </li>
        </ul>
    </div>
</div>