.container {
    position: relative;
    padding: 10px 15vw;
}
.activity-container {
    margin-top: 20px;
}

.fav-rat-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 10px;
    list-style-type: none;
}
.activity-item {
    width: 100%;
}
.activity-item img {
    width: 100%;
    height: auto;
    aspect-ratio: 2/3;
    object-fit: cover;
    cursor: pointer;
}
.activity-title {
    font-size: 0.9em;
    margin-top: 10px;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -5px;
}

/* 리뷰 및 좋아요 스타일 */
.review-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    gap: 20px;
}
.review-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.review-card:hover{
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(66, 133, 244, 0.4);
}
.review-header {
    padding: 10px;
    margin-top: -2%;
    margin-bottom: -1%;
}
.user-rating-container{
    margin-left: auto;
}
.poster-container {
    flex-shrink: 0;
    width: calc(8vw + 16px);
    margin-right: 5px;
    padding: 10px;
}
.poster-container img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    aspect-ratio: 2 / 3;
    cursor: pointer;
}
.movie-title {
    font-weight: bold;
    margin-bottom: -5px;
    font-size: 0.9em;
    text-align: left; /* 제목 왼쪽 정렬 */
}
.review-content {
    flex: 1;
    display: flex;
    overflow: hidden;
}
.review-text-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}
.user-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3%;
}
.user-details {
    display: flex;
    align-items: center;
}
.upload-date {
    color: #777;
    font-size: 0.9em;
}
.user-picture {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
    cursor: pointer;
}
.user-nickname {
    font-weight: bold;
    margin-right: 10px;
}
.subscription-nickname, .subscriber-nickname {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}
.rating-value, .heart-value {
    font-weight: bold;
    background-color: #f0f0f0;
    padding: 1px 5px;
    border-radius: 3px;
    margin-left: 5px;
}
.user-rating {
    color: #f39c12;
    border-radius: 4px;
    padding: 2px 8px;
    font-size: 0.9em;
    margin-left: auto;
}
.user-heart {
    color: #e74c3c;
    border-color: #e74c3c;
}
.rating-value {
    background-color: #fdebd0;
}
.heart-value {
    background-color: #fadbd8;
}
.review-text {
    flex: 1;
    font-size: 0.9em;
    line-height: 1.6;
    overflow-y: auto;
    word-wrap: break-word;
    color: #7b7d7d;
    margin-right: 10px;
}

.divider {
    border: none;
    border-top: 1px solid #ddd; /* 구분선 스타일 */
    margin: 10px 0; /* 구분선 간격 추가 */
}

.review-footer {
    display: flex;
    justify-content: space-between; /* 평점과 좋아요 버튼을 양쪽에 배치 */
    align-items: center; /* 수직 정렬 */
    padding: 10px;
    margin-top: -2%;
    margin-bottom: -1%;
}
.like-container {
    display: flex;
    align-items: center;
}

.like-button {
    background: none;
    border: none;
    color: #777;
    cursor: pointer;
}
.like-button:hover{
    color: red;
}
.like-button.active:hover {
    color: #ccc;
}
.heart-count {
    font-weight: bold;
    margin-left: 5px;
}
.like-button.active {
    color: #e74c3c;
}
.like-button.active .heart-value {
    background-color: white;
    color: #e74c3c;
}
.like-count {
    font-size: 16px;
    text-decoration: none;
    color: #777;
}
.like-count:hover {
    font-weight: bold;
    color: black;
}

.favorite {
    background: none;
    border: none;
    color: #777;
    cursor: pointer;
    margin-right: 5px;
}
.favorite.active {
    color: #e74c3c;
}
/* 구독자 스타일 */
.subscription-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.subscription-container .user-info {
    text-align: center;
    width: 120px;
}
.subscription-container .user-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: 30vh auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    /* max-height: 70vh; */
    overflow-y: auto;
}
.modal li img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
    cursor: pointer;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.user-list {
    max-height: calc(35vh - 100px); /* 모달 컨텐츠 높이에서 여유 공간을 뺀 값 */
    overflow-y: auto;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.user-list li {
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.user-list img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

/* 별점 표시 */
.user-rating-container {
    margin-left: auto;
}
.star-rating {
    font-size: 1.2em;
    color: #ddd;
    position: relative;
    display: inline-block;
    margin-right: 5px;
}
.star-rating .fill-stars {
    color: #FFD700;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
}
.star-rating .empty-stars {
    padding: 0;
    display: block;
}
.sort-category {
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}
.back-link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    margin-bottom: 20px;
}
.back-link i {
    margin-right: 5px;
}
.activity-header {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.fav-movie-title, .rat-movie-title {
    text-align: center;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 0.9em;
    white-space: nowrap; /* 줄바꿈 방지 */
}
.fav-poster-container {
    position: relative;
    width: 100%;
    padding-top: 150%; /* 2:3 aspect ratio */
    overflow: hidden;
}

.fav-poster-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s;
    cursor: pointer;
}

.fav-poster-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
    cursor: pointer;
}

.fav-poster-container:hover .fav-poster-overlay {
    opacity: 1;
}

.fav-poster-container:hover img {
    opacity: 0.7;
}

.rat-user-rating {
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: transform 0.3s ease;
}
.rat-user-rating {
    cursor: default;
}
.favorite-button {
    background: none;
    border: none;
    font-size: 24px;
    color: #ccc;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}
.favorite-button:hover {
    color: #ff6b6b;
    transform: scale(1.1);
}
.favorite-button.active {
    color: #ff6b6b;
}
.favorite-button.active i {
    animation: heartBeat 0.3s ease-in-out;
}

@keyframes heartBeat {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

.movie-info {
    margin-top: 10px;
}

.ajou-rating {
    font-size: 0.9em;
    color: #666;
}

.unfavorite-confirm {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    padding: 10px;
    text-align: center;
    z-index: 20;
}
.undo-text {
    margin-bottom: 1px;
    margin-top: -3px;
}
.undo-button {
    background-color: white;
    color: red;
    border: none;
    padding: 5px 10px;
    margin-top: 5px;
    cursor: pointer;
}
.rat-user-rating {
    color: #f39c12;
    border-radius: 4px;
    padding: 2px 8px;
    font-size: 0.9em;
}

.subscription-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}
.subs-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    width: 150px;
    margin: 10px;
}

.subs-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.subs-picture {
    width: 100%;
    height: 140px;
    object-fit: cover;
}

.subs-info {
    padding: 5px;
    text-align: center;
}

.subs-nickname {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 5px;
}

.subs-cnt, .subs-date {
    font-size: 0.8em;
    color: #666;
    margin-top: 5px;
}

.like-user-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.user-image {
    flex-shrink: 0;
    margin-right: 15px;
}
.like-user-info {
    align-items: center;
    flex-grow: 0.9;
}

.like-user-stat {
    margin-top: 3px;
    margin-right: 100px;
    font-size: 0.8em;
    color: #666;
}

.subscription-btn {
    padding: 5px 10px;
    background-color: #A4AFB1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.subscription-btn.active {
    background-color: red;
}
.subscription-btn:hover {
    background-color: red;
}
.subscription-btn.active:hover {
    background-color: #A4AFB1;
}