body {
    padding-top: 90px;
}
.navbar-content{
        padding: 10px 15vw;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        left: 0;
        right: 0;
        top: 0;
        position: fixed;
        display: flex;
        height: 70px;
        background-color: white;
        z-index: 1000;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.navbar a {
    color: white;
    text-decoration: none;
}
.navbar .navbar-brand {
    color: #5CC4F8;
}
.navbar-search {
    flex-grow: 0.5; /* ê²€ìƒ‰ì°½ ë„ˆë¹„ ì¡°ì ˆ */
    margin: 0 20px;
    display: flex;
}
.navbar-search input {
    flex-grow: 1;
    padding: 8px;
    font-size: 90%;
}
.navbar-search select,
.navbar-search input[type="text"] {
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}
.navbar-search select {
    margin-right: 10px;
}
.navbar-search button {
    margin-left: 10px;
    padding: 8px 15px;
    font-size: 90%;
}
.navbar-links {
    display: flex;
    align-items: center;
}
.navbar-links > * {
    margin-left: 15px;
}
.logo {
    width: calc(5vw + 50px);
    height: auto;
}
.btn {
    padding: 8px 15px;
    font-size: 90%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover {
    background-color: #0056b3;
}
.btn-primary {
    background-color: #A4AFB1;
    color: white;
}
.btn-info {
    background-color: #A4AFB1;
    color: white;
}
.user-icon {
    display: flex;
    align-items: center;
}
.navbar .user-icon {
    color: #A4AFB1;
}
.user-icon i {
    margin-right: 5px;
}

.navbar-search {
    position: relative;
}

#searchSuggestions {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid #ddd;
    border-top: none;
    z-index: 1000;
}

#searchSuggestions div {
    padding: 10px;
    cursor: pointer;
    color: black;
}
#searchSuggestions div:hover, #searchSuggestions div.active {
    background-color: #f0f0f0;
}

@media (max-width: 1200px) {
    .movie-item {
        flex: 0 0 calc(25% - 1.5vw);
    }
}

@media (max-width: 992px) {
    .movie-item {
        flex: 0 0 calc(33.333% - 1.33vw);
    }
}

@media (max-width: 768px) {
    .movie-item {
        flex: 0 0 calc(50% - 1vw);
    }
}

@media (max-width: 576px) {
    .movie-item {
        flex: 0 0 100%;
    }
}

.ADMIN { color: #CCCCFF; }
.USER { color: #000000; }
.BRONZE { color: #000000; }
.SILVER { color: #797d7f; }
.EMERALD { color: #58D68D; }
.MASTER { color: #f4d03f; }
.CHALLENGER { color: #6af8f0; }