.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px 15vw;
}
.user-info-box, .activity-box, .life-movies-box, .rating-distribution-box, .prefer-keyword-box, .prefer-director-box, .prefer-actor-box, .prefer-genre-box, .similar-movie-box, .disSimilar-movie-box {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.user-info-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user-info-left {
    display: flex;
    align-items: center;
}
.user-details {
    display: flex;
    flex-direction: column;
}

.user-nickname {
    font-weight: bold;
    font-size: 1.4em;
    margin-left: -10px;
}

.subscription-info {
    display: flex;
    margin-top: 10px;
}

.subscription-info a {
    margin-bottom: 5px;
    text-decoration: none;
    color: #007bff;
    margin-right: 10px;
}
.subscription-btn {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #A4AFB1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.subscription-btn:hover {
    background-color: red;
}

.subscription-btn.active {
    background-color: red;
}
.user-info-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.user-info-right button {
    margin-bottom: 10px;
}

.section-container {
    display: block;
}
.section-container[style*="display: none"] {
    margin: 0;
    padding: 0;
}
.user-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
}
.user-nickname {
    font-weight: bold;
    margin-right: 10px;
    font-size: 1.2em;
    padding: 10px;
}
.subscription-info {
    margin-top: 10px;
}
.subscription-info a {
    margin-right: 10px;
}
.activity-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.activity-item {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.activity-item:hover {
    transform: translateY(-5px);
}

.activity-item h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 17px;
    color: #333;
}

.activity-item a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.activity-item a:hover {
    text-decoration: underline;
}

/* ì‚¬ìš©ìž ì¸ìƒ ì˜í™” */
.life-movies {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.movie-element {
    width: 150px;
    cursor: pointer;
}
.movie-content {
    text-align: center;
}
.movie-poster {
    width: 100%;
    aspect-ratio: 2 / 3;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.3s ease;
}
.movie-poster:hover {
    transform: scale(1.05);
}


/* ì‚¬ìš©ìž í‰ì  ë¶„í¬ css*/
.rating-distribution {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 220px;
    padding: 20px 0;
}
.bar-container {
    display: flex;
    align-items: flex-end;
    height: 200px;
    gap: 10px;
}
.bar-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
}
.bar-wrapper:hover {
    transform: scale(1.1);
}

@keyframes growBar {
    from { height: 0; }
    to { height: var(--target-height); }
}

.bar {
    width: 30px;
    background-color: #007bff;
    transition: background-color 0.3s ease;
    animation: growBar 1s ease-out forwards;
    height: 0;
}
.bar:hover {
    background-color: #0056b3;
}

.rating-label {
    margin-top: 5px;
    font-size: 12px;
}
.bar:hover::after {
    content: attr(title);
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
}


/* ì„ í˜¸ í‚¤ì›Œë“œ css*/
.keyword-cloud {
    width: 80%;
    height: 300px;
    position: relative;
    overflow: hidden;
    background-color: #f0f6fa;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-left: 8%;
}

.keyword {
    position: absolute;
    transition: all 0.3s ease;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    background-color: #ffffff;
}

.keyword:hover {
    transform: scale(1.1);
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.9);
}


/* ì„ í˜¸ ê°ë… css*/
.prefer-person {
    display: flex;
    justify-content: space-around;
}
.person-element {
    width: 150px;
    margin: 10px;
    text-align: center;
    transition: transform 0.3s ease;
}
.person-element:hover {
    transform: scale(1.1);
}
.person-image {
    width: calc(7vw - 10px);
    height: calc(7vw - 10px);
    max-width: 150px;
    max-height: 150px;
    min-width: 50px;
    min-height: 50px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}
.person-info {
    margin-top: 10px;
}
.person-info h5 {
    margin: 5px 0;
}
.person-info p {
    margin: 3px 0;
    font-size: 0.9em;
}


/* ì„ í˜¸ ìž¥ë¥´ */
.top-genres {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.top-genre {
    text-align: center;
    width: 30%;
}
.top-genre h4 {
    margin-bottom: 10px;
}
.other-genres {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 5px;
    padding: 10px;
}
.other-genre {
    width: 48%;
    margin-bottom: 5px;
    font-size: 0.9em;
}


/* ë‘ ì‚¬ìš©ìžì˜ ì„ í˜¸ ì˜í™”*/
.similar-movie-carousel, .disSimilar-movie-carousel {
    position: relative;
    overflow: hidden;

}

.similar-movie, .disSimilar-movie{
    display: flex;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    /* ì• ë„¤ë¥¼ ë„£ìœ¼ë‹ˆê¹Œ arrowê°€ ìž‘ë™í•˜ë‚Ÿ...*/
     overflow-x: scroll;
     overflow: auto;
     scrollbar-width: none; /* Firefox */

}

.sim-element {
    flex: 0 0 20%;
    padding: 10px;
    box-sizing: border-box;
    width: 200px;
    flexShrink: 0;
}

.poster-container {
    position: relative;
    overflow: hidden;
    width: 100%;
}
.poster-overlay {
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
    cursor: pointer;
}
.poster-container:hover .poster-overlay {
    opacity: 1;
}

.rating {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.current-user {
    color: #3498db;
}

.visited-user {
    color: #e74c3c;
}

.rating-value {
    font-size: 1.2em;
    font-weight: bold;
}


.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
}

.arrow.left {
    left: 0;
}

.arrow.right {
    right: 0;
}


/* í”¼ë“œë°± */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 30vh auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

 h2 {
    margin-top: 0;
    color: #333;
}

textarea {
    width: 95%;
    height: 150px;
    resize: none;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 15px;
}

#submitFeedbackBtn {
    display: block;
    margin: 0 auto;
}
.btn-primary {
    background-color: #A4AFB1;
    color: white;
}
.btn-danger {
    background-color: #A4AFB1;
    color: white;
}
.btn:hover {
    background-color: #e0e0e0;
}
@media (max-width: 768px) {
    .modal-content {
        width: 95%;
        margin: 10vh auto;
    }
}

@media (max-width: 480px) {
    .modal-content {
        width: 100%;
        height: 100%;
        margin: 0;
        border-radius: 0;
    }
}