.container {
    position: relative;
    padding: 10px 15vw;
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.movie-item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: all 0.3s ease;
}

.movie-item:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.movie-poster-container {
    position: relative;
    width: 100%;
    height: 290px;
}

.movie-poster {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.person-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
    cursor: pointer;
}

.movie-poster-container:hover .person-overlay {
    opacity: 1;
}

.overlay-content {
    color: white;
    text-align: center;
    padding: 10px;
    white-space: pre-line;
}

.movie-info {
    padding: 10px;
}

.movie-title {
    margin: 5px 0;
    font-size: 1em;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.movie-release-date {
    color: #666;
    font-size: 0.9em;
}