.container {
    position: relative;
    padding: 10px 15vw;
}
.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    gap: 20px;
    margin-top: 20px;
}
.movie-item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: all 0.3s ease;
}
.movie-item:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.movie-poster {
    width: 100%;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
}
.movie-info {
    padding: 15px;
}
.movie-title {
    margin: 0;
    font-size: 1.1em;
    font-weight: bold;
}
.movie-release-date {
    color: #666;
    font-size: 0.9em;
}
.user-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
    margin-top: 20px;
}
.user-item {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}
.user-item:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.user-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}
.user-info {
    flex-grow: 1;
}
.user-nickname {
    margin: 0;
    font-size: 1.1em;
    font-weight: bold;
}
.subscription-btn {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #A4AFB1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.subscription-btn:hover {
    background-color: red;
}

.subscription-btn.active {
    background-color: red;
}