<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <h2>영화 검색</h2>
    <input type="text" id="query" name="query" placeholder="영화 검색">
    <button type="submit" id="search-button">검색</button>

    <h2>검색 결과</h2>
    <ul id="search-results"></ul>

    <h1>추가 정보 입력</h1>
    <form id="profile-form">
        <label for="nickname">닉네임:</label>
        <input type="text" id="nickname" name="nickname" th:value="${userProfile.nickname}" required><br>
        <button type="button" id="check-nickname">중복 확인</button>
        <span id="nickname-result"></span><br>

        <label for="gender">성별:</label>
        <input type="text" id="gender" name="gender" th:value="${userProfile.gender}" required><br>

        <label for="age">Age:</label>
        <input type="number" id="age" name="age" th:value="${userProfile.age}" required><br>

        <label for="mbti">MBTI:</label>
        <select id="mbti" name="mbti" required>
            <option value="INTJ" th:selected="${userProfile.mbti == 'INTJ'}">INTJ</option>
            <option value="INTP" th:selected="${userProfile.mbti == 'INTP'}">INTP</option>
            <option value="ENTJ" th:selected="${userProfile.mbti == 'ENTJ'}">ENTJ</option>
            <option value="ENTP" th:selected="${userProfile.mbti == 'ENTP'}">ENTP</option>
            <option value="INFJ" th:selected="${userProfile.mbti == 'INFJ'}">INFJ</option>
            <option value="INFP" th:selected="${userProfile.mbti == 'INFP'}">INFP</option>
            <option value="ENFJ" th:selected="${userProfile.mbti == 'ENFJ'}">ENFJ</option>
            <option value="ENFP" th:selected="${userProfile.mbti == 'ENFP'}">ENFP</option>
            <option value="ISTJ" th:selected="${userProfile.mbti == 'ISTJ'}">ISTJ</option>
            <option value="ISFJ" th:selected="${userProfile.mbti == 'ISFJ'}">ISFJ</option>
            <option value="ESTJ" th:selected="${userProfile.mbti == 'ESTJ'}">ESTJ</option>
            <option value="ESFJ" th:selected="${userProfile.mbti == 'ESFJ'}">ESFJ</option>
            <option value="ISTP" th:selected="${userProfile.mbti == 'ISTP'}">ISTP</option>
            <option value="ISFP" th:selected="${userProfile.mbti == 'ISFP'}">ISFP</option>
            <option value="ESTP" th:selected="${userProfile.mbti == 'ESTP'}">ESTP</option>
            <option value="ESFP" th:selected="${userProfile.mbti == 'ESFP'}">ESFP</option>
        </select><br>

        <h2>선호 장르 선택 (최대 5개)</h2>
        <div id="genre-selection">
            <ul>
                <li th:each="genre : ${userProfile.tmdbGenres}">
                    <input type="checkbox" name="preferredGenres" th:value="${genre.id}" th:text="${genre.name}"
                           th:checked="${userProfile.userPreferredGenreIds.contains(genre.id)}"
                           onchange="updateFavoriteGenres(this)"/>
                </li>
            </ul>
        </div>

        <h2>선호 영화 목록 (최대 5개)</h2>
        <ul id="favorite-movies"></ul>
        <input type="hidden" id="favorite-movies-input" name="favoriteMovies">

        <h2>선호 장르 목록 (최대 5개)</h2>
        <ul id="favorite-genres"></ul>
        <input type="hidden" id="favorite-genres-input" name="favoriteGenres">

        <button type="submit">Submit</button>

    </form>
    <div th:replace="fragments/footer :: footer" />
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:inline="javascript">
    $(document).ready(function() {
        var userEmail = /*[[${userProfile.email}]]*/ '';

        $.ajax({
            url: '/api/additional-info/' + userEmail,
            type: 'GET',
            success: function(response) {
                $('#nickname').val(response.nickname);
                $('#gender').val(response.gender);
                $('#age').val(response.age);
                $('#mbti').val(response.mbti);
                $('#favorite-movies').val(response.favoriteMovies);
                $('#favorite-genres').val(response.tmdbGenres);
            }
        });


        $('#check-nickname').click(function() {
            var nickname = $('#nickname').val();
            $.ajax({
                url: '/api/additional-info/' + userEmail + '/check-nickname',
                type: 'GET',
                data: { nickname: nickname },
                success: function(response) {
                    if (response) {
                        $('#nickname-result').text('사용 가능한 닉네임입니다.').css('color', 'green');
                    } else {
                        $('#nickname-result').text('이미 사용 중인 닉네임입니다.').css('color', 'red');
                    }
                }
            });
        });

        $('#search-button').click(function(e) {
            var query = $('#query').val();
            $.ajax({
                url: '/api/additional-info/' + userEmail + '/search-movies',
                type: 'GET',
                data: {query: query},
                dataType: 'json',
                success: function(response) {
                    var resultList = $('#search-results');
                    resultList.empty();
                    if (response.results && Array.isArray(response.results)) {
                        response.results.forEach(function(movie) {
                            resultList.append('<li>' + movie.title + ' <button class="add-favorite" data-id="' + movie.id + '">추가</button></li>');
                        });
                    } else {
                        console.error("Unexpected response format:", response);
                    }
                },
                error: function(xhr, status, error) {
                    console.error("AJAX request failed:", status, error);
                }
            });
        });

        $(document).on('click', '.add-favorite', function() {
            var movieId = $(this).data('id');
            var movieTitle = $(this).parent().text().split(" ")[0];
            $('#favorite-movies').append('<li data-id="' + movieId + '">' + movieTitle + ' <button class="remove-favorite">제거</button></li>');
            updateFavoriteMoviesInput();
        });

        $(document).on('click', '.remove-favorite', function() {
            $(this).parent().remove();
            updateFavoriteMoviesInput();
        });

        function updateFavoriteMoviesInput() {
            var favoriteMovies = $('#favorite-movies li').map(function() {
                return {
                    id: $(this).data('id'),
                    title: $(this).text().split(' ')[0]
                };
            }).get();
            $('#favorite-movies-input').val(JSON.stringify(favoriteMovies));
        }

        $('#profile-form').submit(function(e) {
            e.preventDefault();
            var formData = {
                nickname: $('#nickname').val(),
                gender: $('#gender').val(),
                age: $('#age').val(),
                mbti: $('#mbti').val(),
                preferredGenres: $('input[name="preferredGenres"]:checked').map(function() {
                    return $(this).val();
                }).get(),
                favoriteMovies: JSON.parse($('#favorite-movies-input').val())
            };
            console.log('PreferGenre update:', formData.preferredGenres);


            $.ajax({
                url: '/api/additional-info/' + userEmail,
                type: 'PUT',
                data: JSON.stringify(formData),
                contentType: 'application/json',
                success: function(response) {
                    alert('프로필이 업데이트되었습니다');
                    location.reload();
                },
                error: function(xhr, status, error) {
                    alert('프로필 업데이트에 실패했습니다: ' + error);
                }
            });
        });

        $.ajax({
            url: '/api/additional-info/' + userEmail + '/favorite-movies',
            type: 'GET',
            success: function(response) {
                var movieList = $('#favorite-movies');
                movieList.empty();
                response.forEach(function(movie) {
                    movieList.append('<li>' + movie.movieTitle + '</li>');
                });
            }
        });

        // 선호 장르 목록 가져오기
        $.ajax({
            url: '/api/additional-info/' + userEmail + '/favorite-genres',
            type: 'GET',
            success: function(response) {
                var genreList = $('#favorite-genres');
                genreList.empty();
                response.forEach(function(genre) {
                    genreList.append('<li>' + genre.genreName + '</li>');
                });
            }
        });

    });
</script>

</body>
</html>
