<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
  <title th:text="|${pageName}|"></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader" />
  <div class="jumbotron">
<!--    <div th:if="${userName}">-->
<!--      <a th:href="@{/logout}" class="btn btn-info active" role="button">로그아웃</a>-->
<!--      <label th:text="${userName} + 님"></label>-->
<!--    </div>-->
<!--    <div th:if="!${userName}">-->
      <a th:href="@{/oauth2/authorization/google}" class="btn btn-primary me-2 active" role="button">Google Login</a>
<!--    </div>-->

    <h1><a th:href="|/${loginType}/home|">[[${pageName}]]</a></h1> <hr/>
<!--    <div th:if="${nickname == null}">-->
    <div th:if="${#authentication.name == 'anonymousUser'}">

        <h3>로그인 되어있지 않습니다!</h3>
      <button th:onclick="|location.href='@{/{loginType}/join (loginType=${loginType})}'|">회원 가입</button> <br/><br/>
      <button th:onclick="|location.href='@{/{loginType}/login (loginType=${loginType})}'|">로그인</button>
    </div>
<!--    <div th:unless="${nickname == null}">-->
    <div th:if="${#authentication.name != 'anonymousUser'}">
      <h3>[[${#authentication.name}]]님 환영합니다!</h3>
      <button th:onclick="|location.href='@{/{loginType}/info (loginType=${loginType})}'|">유저 정보</button> <br/><br/>
      <button th:onclick="|location.href='@{/{loginType}/admin (loginType=${loginType})}'|">관리자 페이지</button> <br/><br/>
      <button th:onclick="|location.href='@{/{loginType}/logout (loginType=${loginType})}'|">로그아웃</button>
    </div>

    <p>
      <a class="btn btn-lg btn-info" href="/notice">공지 게시판</a>
      <a class="btn btn-lg btn-info" href="/reviews">리뷰 게시판</a>
      <a class="btn btn-lg btn-info" href="/reviews">자유 게시판</a>
      <a class="btn btn-lg btn-info" href="/reviews">BEFORE SCENE 게시판</a>
      <a class="btn btn-lg btn-info" href="/reviews">AFTER SCENE 게시판</a>
      <a class="btn btn-lg btn-info" href="/additional-info">개인 정보</a>
    </p>

    <p class="lead"></p>
  </div>
  <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>
