<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">

    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <title>아주키노 로그인</title>
</head>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<body>
<div>
    <div class="logo">
        <img src="/images/logo.png" alt="AjouKino">
    </div>

    <div class="background-container">
        <div class="grid">
            <div th:each="poster : ${backgroundMovies}" class="grid-item">
                <img th:src="'https://image.tmdb.org/t/p/w500' + ${poster}" class="background-poster" alt="Movie Poster">
            </div>
        </div>
    </div>

    <div class="login-box">
        <img src="/images/logo.png" alt="AjouKino" class="login-box-logo">

        <a th:href="@{'/recommend'}"
           class="btn btn-info">평가</a>

        <a th:href="@{/oauth2/authorization/google}"
           class="btn"
           >구글 메일로 로그인</a>



<!--        <div class="checkbox">-->
<!--            <label>-->
<!--                <input type="checkbox" id="keepLoggedIn">-->
<!--                <span class="keep-login-content">로그인 유지</span>-->
<!--            </label>-->
<!--        </div>-->

    </div>

</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:inline="javascript">
    function handleLogin() {
        const keepLoggedIn = document.getElementById('keepLoggedIn').checked;
        return true;
    }

$(document).ready(function() {
    $('.background-poster').each(function(index) {
        $(this).css('animation-delay', (index * 0.2) + 's');
    });
});
</script>

</body>
</html>

