<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<!--    <link rel="stylesheet" href="/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <title>영화 상세정보</title>
    <link rel="stylesheet" href="/css/movieDetail.css">
    <meta charset="UTF-8">
</head>

<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
<!--            <div class="jumbotron">-->
        <div class="movie-detail" th:if="${movieDTO}">

            <h1 th:text="${movieDTO.basicInfo.title}"></h1>
            <h3 th:text="'(' + ${movieDTO.basicInfo.original_title} + ')'"></h3>
            <img th:src="'https://image.tmdb.org/t/p/w500' + ${movieDTO.basicInfo.backdrop_path}" th:alt="${movieDTO.basicInfo.title}" class="backdrop_poster">
            <p><strong>개봉일:</strong> <span th:text="${movieDTO.basicInfo.release_date}"></span></p>
            <p><strong>장르:</strong> <span th:each="genre : ${movieDTO.basicInfo.genres}" th:text="'[' + ${genre} + ']' + ' ' "></span></p>
            <p><span th:text="${movieDTO.basicInfo.runtime} + '분'"></span></p>
            <img th:src="'https://image.tmdb.org/t/p/w500' + ${movieDTO.basicInfo.poster_path}" th:alt="${movieDTO.basicInfo.title}" class="movie_poster">

            <!-- 바로가기 버튼 -->
            <a th:href="${movieDTO.basicInfo.watchProvider}" class="btn btn-info" role="button" target="_blank" rel="noopener noreferrer">영화 바로가기</a>

            <!-- 찜 기능 -->
            <button id="favoriteButton" th:attr="data-movie-id=${movieDTO.basicInfo.id}" th:class="${movieDTO.isFavorite} ? 'favorite active' : 'favorite'">
                <i class="fas fa-heart"></i>
            </button>

            <!-- 사용자 리뷰 섹션 -->
            <div id="reviewSection">
                <h3>리뷰</h3>
                <div id="reviewDisplay" style="display:none;">
                    <p id="reviewDisplayText"></p>
                    <button id="editReviewBtn" class="btn btn-secondary">수정</button>
                    <button id="deleteReviewBtn" class="btn btn-danger">삭제</button>
                </div>
                <button id="writeReviewBtn" class="btn btn-primary" style="display:none;">리뷰 작성</button>
            </div>

            <!-- 리뷰 모달 -->
            <div id="reviewModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2 id="modalTitle">리뷰 작성</h2>
                    <textarea id="reviewText" rows="4" cols="50"></textarea>
                    <button id="saveReviewBtn" class="btn btn-primary">저장</button>
                </div>
            </div>

            <p><strong>tmdb 기준 평균 평점:</strong> <span th:text="${movieDTO.basicInfo.tmdb_ratingAvg} + ' (' + ${movieDTO.basicInfo.tmdb_ratingCnt} + '표)'"></span></p>
            <p><strong>아주대 학생 평균 평점:</strong> <span th:text="${movieDTO.ajou_ratingAvg} + ' (' + ${movieDTO.ajou_ratingCnt} + '표)'"></span></p>

            <!-- 별점 시스템 -->
            <div id="starRating" class="star-rating">
                <span class="star" data-rating="0.5">☆</span><span class="star" data-rating="1">☆</span>
                <span class="star" data-rating="1.5">☆</span><span class="star" data-rating="2">☆</span>
                <span class="star" data-rating="2.5">☆</span><span class="star" data-rating="3">☆</span>
                <span class="star" data-rating="3.5">☆</span><span class="star" data-rating="4">☆</span>
                <span class="star" data-rating="4.5">☆</span><span class="star" data-rating="5">☆</span>
            </div>
            <p id="selectedRating">선택한 평점: <span>0</span></p>

            <p><strong><span th:text="${movieDTO.basicInfo.tagline}"></span></strong> </p>
            <p><span th:text="${movieDTO.basicInfo.overview}"></span></p>


            <!-- 감독 정보 -->
            <p><strong>감독:</strong></p>
            <div class="director" th:each="director : ${movieDTO.basicInfo.directors}">
                <img th:src="'https://image.tmdb.org/t/p/w500' + ${director.profile_path}" th:alt="${director.name}"
                    th:attr="onclick=|redirectToPerson(${director.id}, 'crew')|">
                <span th:text="${director.name}"></span>
            </div>

            <!-- 배우 정보 -->
            <p><strong>주요 출연:</strong></p>
            <div class="actor-slider">
                <button id="prevButton">이전</button>
                <div class="actor-list" id="actorList">
                    <div class="actor" th:each="actor : ${movieDTO.basicInfo.actors}" th:attr="data-actor-id=${actor.id}">
                        <img th:src="'https://image.tmdb.org/t/p/w500' + ${actor.profile_path}" th:alt="${actor.name}">
                        <div>
                            <span th:text="${actor.name}"></span>
                            <p th:text="${actor.character_name}"></p>
                        </div>
                    </div>
                </div>
                <button id="nextButton">다음</button>
            </div>

            <!-- 리뷰 리스트 -->
            <div class="review-section">
                <h3>영화 리뷰 <span th:text="'(총 ' + ${movieDTO.reviewCnt} + '개)'"></span></h3>

                <div class="review-grid">
                    <div th:each="reviewDTO : ${sortedReviews}" class="review-card">

                        <div class="user-info">
                            <a th:href="@{'/info/' + ${reviewDTO.user.email}}">
                                <img th:src="${reviewDTO.user.picture}" alt="User Picture" class="user-picture">
                            </a>

                            <span th:text="${reviewDTO.user.nickname}" class="user-nickname"
                                  th:style="'color: ' + ${reviewDTO.user.role.color}">
                            </span>
                            <span class="user-rating">평점: <span th:text="${reviewDTO.userRating ?: '미정'}"></span></span>
                        </div>
                        <p th:text="${#strings.abbreviate(reviewDTO.review.text, 100)}" class="review-content"></p>

                        <div class="review-actions">
                            <button class="like-button" th:attr="data-review-id=${reviewDTO.review.id}" th:classappend="${movieDTO.userHearts.contains(reviewDTO.review.id)} ? 'active' : ''">
                                좋아요 <span th:text="${reviewDTO.heartCnt ?: 0}" class="like-count"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <p>
                    <a th:href="@{'/contents/' + ${movieDTO.basicInfo.tId} + '/reviews'}" class="btn btn-lg btn-info">전체 리뷰 보기</a>
                </p>

                <!-- 추천 영화 목록 -->
                <div class="recommended-movies">
                    <h3>추천 영화</h3>
                    <div class="movie-grid">
                        <div th:each="movie : ${movieDTO.basicInfo.recommendMovies}" class="movie-card">
                            <a th:href="@{'/contents/' + ${movie.id}}">
                                <img th:src="@{'https://image.tmdb.org/t/p/w200' + ${movie.poster_path}}" alt="Movie Poster" class="movie-poster">
                                <h4 th:text="${movie.title}"></h4>
                            </a>
                        </div>
                    </div>
                </div>

            </div>


        </div>
        <script th:inline="javascript">
            document.addEventListener('DOMContentLoaded', function() {
                let currentIndex = 0;
                const actorsPerPage = 8;
                const actors = document.querySelectorAll('.actor');
                const actorList = document.querySelector('.actor-list');
                const prevButton = document.getElementById('prevButton');
                const nextButton = document.getElementById('nextButton');

                function updateActorVisibility() {
                    actors.forEach((actor, index) => {
                        if(index >= currentIndex * actorsPerPage && index < (currentIndex + 1) * actorsPerPage) {
                            actor.style.display = 'block';
                        } else {
                            actor.style.display = 'none';
                        }
                        });
<!--                        const translateX = -(currentIndex / actors.length) * 100;-->
<!--                        actorList.style.transform = `translateX(${translateX}%)`;-->
                    console.log('Actor visibility updated. Current index:', currentIndex);
                }

                function nextActors() {
                    if ((currentIndex + 1) * actorsPerPage < actors.length) {
<!--                            currentIndex += actorsPerPage;-->
                        currentIndex++;
                        updateActorVisibility();
                    }
                    console.log('Next actors clicked');
                }

                function prevActors() {
                    if (currentIndex > 0) {
                        currentIndex--;
                        updateActorVisibility();
                    }
                    console.log('Previous actors clicked');
                }
                // 초기화
                updateActorVisibility();
                document.getElementById('prevButton').addEventListener('click', prevActors);
                document.getElementById('nextButton').addEventListener('click', nextActors);

                actors.forEach(actor => {
                    actor.addEventListener('click', function() {
                        const actorId = this.getAttribute('data-actor-id');
                        redirectToPerson(actorId, 'cast');
                    });
                });


                const starRating = document.getElementById('starRating');
                const stars = starRating.getElementsByClassName('star');
                const selectedRating = document.querySelector('#selectedRating span');
                const movieId = [[${movieDTO.basicInfo.id}]];

                function setRating(rating) {
                    selectedRating.textContent = rating || '0';
                    Array.from(stars).forEach(star => {
                        if (parseFloat(star.dataset.rating) <= rating) {
                            star.classList.add('full');
                        } else {
                            star.classList.remove('full');
                        }
                    });
                }

                function loadRating() {
                    fetch(`/api/movie/rating/${movieId}`)
                        .then(response => response.json())
                        .then(data => {
                            setRating(data.rating);
                        })
                        .catch(error=> {
                            console.error('Error:', error);
                        });
                }

                function saveOrDeleteRating(rating) {
                    fetch(`/api/movie/rating/${movieId}`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({rating: rating})
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.deleted) {
                            // Rating was deleted
                            setRating(0);
                        } else {
                            // Rating was saved or updated
                            setRating(data.rating);
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
                }

                loadRating();

                Array.from(stars).forEach(star => {
                    star.addEventListener('click', function() {
                        const rating = parseFloat(this.dataset.rating);
                        const currentRating = parseFloat(selectedRating.textContent);

                        if (rating === currentRating) {
                            saveOrDeleteRating(0);
                        } else {
                            saveOrDeleteRating(rating);
                        }
                    });
                });
            });
            // 배우 클릭 시 관련 영화 리스트로 redirect
            function redirectToPerson(personId, type) {
                window.location.href = `/people/${personId}?type=${type}`;
            }
        </script>
    <div th:replace="fragments/footer :: footer" />
</div>
</body>
</html>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    $('#favoriteButton').click(function() {
        var movieId = $(this).data('movie-id');
        var isFavorite = $(this).hasClass('active');

        $.ajax({
            url: '/api/movie/favorite',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({ movieId: movieId, favorite: !isFavorite }),
            success: function(response) {
                if (response.success) {
                    $('#favoriteButton').toggleClass('active', response.isFavorite);
                }
            },
            error: function(xhr, status, error) {
                if(xhr.status === 401) {
                    window.location.href = '/oauth2/authorization/google';
                } else {
                    console.error('Error:', error);
                }
            }
        });
    });

    var movieId = $('#favoriteButton').data('movie-id');
    console.log('movieId : ', movieId);
    var modal = document.getElementById("reviewModal");
    var span = document.getElementsByClassName("close")[0];

    function loadReview() {
        $.ajax({
            url: '/api/movie/' + movieId + '/review',
            type: 'GET',
            success: function(response) {
                if (response.review) {
                    $('#reviewDisplayText').text(response.review);
                    $('#reviewDisplay').show();
                    $('#writeReviewBtn').hide();
                } else {
                    $('#reviewDisplay').hide();
                    $('#writeReviewBtn').show();
                }
            },
            error: function(xhr, status, error) {
                console.error('Error:', error);
            }
        });
    }

    loadReview();  // 페이지 로드 시 리뷰 불러오기

    $('#writeReviewBtn, #editReviewBtn').click(function() {
        $('#modalTitle').text($(this).attr('id') === 'writeReviewBtn' ? '리뷰 작성' : '리뷰 수정');
        if ($(this).attr('id') === 'editReviewBtn') {
            $('#reviewText').val($('#reviewDisplayText').text());
        } else {
            $('#reviewText').val('');
        }
        modal.style.display = "block";
    });

    span.onclick = function() {
        modal.style.display = "none";
    }

    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    $('#saveReviewBtn').click(function() {
        var reviewText = $('#reviewText').val();
        $.ajax({
            url: '/api/movie/' + movieId + '/review',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({ movieId: movieId, review: reviewText }),
            success: function(response) {
                modal.style.display = "none";
                loadReview();
            },
            error: function(xhr, status, error) {
                console.error('Error:', error);
            }
        });
    });

    $('#deleteReviewBtn').click(function() {
        if (confirm('정말로 리뷰를 삭제하시겠습니까?')) {
            $.ajax({
                url: '/api/movie/' + movieId + '/review',
                type: 'DELETE',
                success: function(response) {
                    loadReview();
                },
                error: function(xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        }
    });

    // 좋아요 버튼 클릭 이벤트
    $('.like-button').click(function() {
        var reviewId = $(this).data('review-id');
        var $button = $(this)

        $.ajax({
            url: '/api/review/heart/' + reviewId,
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({reviewId: reviewId, heart: !$button.hasClass('active') }),
            success: function(response) {
                console.log('Full response:', response);
                if (response.heart) {
                    $button.addClass('active');
                } else {
                    $button.removeClass('active');
                }
                $button.find('.like-count').text(response.updateHeartCnt);
                console.log('heartCount val:', response.updateHeartCnt);
            },
            error: function(xhr, status, error) {
                console.error('Error:', error);
            }
        });
    });
});
</script>
