<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/bodyHeader.css">
    <link rel="stylesheet" href="/css/movieReviews.css">
    <meta charset="UTF-8">
    </style>

    <title>영화 전체 리뷰</title>
</head>
<script th:src="@{'/js/search.js'}"></script>

<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
<!--    <a th:href="@{'/contents/' + ${movieTId}}">뒤로 가기</a>-->

    <a href="#" onclick="goBack(); return false;" class="back-link">
        <i class="fas fa-arrow-left"></i> 뒤로 가기
    </a>

    <h1 class="my-4">영화 리뷰</h1>

    <select id="sorting" name="sort" class="sort-category">
        <option value="heartCount,desc">좋아요 많은 순</option>
        <option value="heartCount,asc">좋아요 적은 순</option>
        <option value="createdDate,desc">최신 작성 순</option>
        <option value="createdDate,asc">과거 작성 순</option>
    </select>

    <div id="reviewList">
<!--        리뷰 리스트 동적 생성-->
    </div>

    <div id="noReviewsMessage" style="display: none;">
        <p>해당 영화에 리뷰가 존재하지 않습니다! 리뷰를 작성해 주세요!</p>
    </div>

    <div id="likeModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>좋아요를 누른 사용자</h2>
            <ul id="likeUserList" class="user-list"></ul>
        </div>
    </div>

    <button id="loadMore" class="btn btn-primary mt-3">더 보기</button>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:inline="javascript">
    const movieTId = [[${movieTId}]];
    let currentPage = 0;
    let currentSort = "heartCount,desc";

    $(document).on('click', '.subscription-btn', function() {
        const btn = $(this);
        const userEmail = btn.data('email');
        toggleSubscription(btn, userEmail);
    });

    function toggleSubscription(btn, userEmail) {
        $.ajax({
            url: `/api/user/subscription/${userEmail}`,
            type: 'PUT',
            contentType: 'application/json',
            success: function(response) {
                updateButtonState(btn, response.subscribed);
            },
            error: function(xhr, status, error) {
                console.error('Error toggling subscription:', error);
            }
        });
    }

    function updateButtonState(btn, isSubscribed) {
        if(isSubscribed) {
            btn.text('구독 취소').addClass('active');
        } else {
            btn.text('구독').removeClass('active');
        }
    }


    function loadReviews() {
        const sorting = document.getElementById('sorting');
        currentSort = sorting.value;

        fetch(`/api/movie/${movieTId}/reviews?page=${currentPage}&sort=${currentSort}`)
            .then(response => response.json())
            .then(data => {
                console.log('data', data);
                if (data.content.length ===0 && currentPage === 0) {
                    noReviewsMessage.style.display = 'block';
                    loadMore.style.display = 'none';
                    return;
                }

                const reviewList = document.getElementById('reviewList');

                if (currentPage === 0) {
                    reviewList.innerHTML = '';
                }
                noReviewsMessage.style.display = 'none';

                data.content.forEach(review => {
                    const rating = review.userRating ? review.userRating.toFixed(1) : '평가 없음';
                    const isActive = review.likedByCurrentUser ? 'active' : '';
                    const reviewTextWithBreaks = review.review.text.replace(/\n/g, '<br>');
                    const userRoleClass = review.user.role;
                    const starRating = createStarRating(rating);

                     const spoilerContent = review.spoiler
                        ? `<div class="spoiler-content">
                         <button class="spoiler-toggle">스포일러 보기</button>
                         <p class="spoiler-text" style="display: none;">${reviewTextWithBreaks}</p>
                       </div>`
                    : `<p class="card-text">${reviewTextWithBreaks}</p>`;

                    reviewList.innerHTML += `
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="user-info">
                                    <div class="user-details">
                                        <a href="/info/${review.user.email}">
                                            <img src="${review.user.picture}" alt="${review.user.nickname}" class="user-picture">
                                        </a>
                                        <span class="user-nickname ${userRoleClass}">${review.user.nickname}</span>
                                    </div>
                                    <div class="user-rating-container">
                                        ${starRating}
                                    </div>
                                </div>
                                <hr class="divider">
                                ${spoilerContent}
                                <hr class="divider">
                                <div class="review-footer">
                                    <button class="btn btn-outline-primary like-button ${isActive}" data-review-id="${review.review.id}">
                                        <i class="fas fa-heart"></i>
                                    </button>
                                    <a href="#" class="like-count" data-review-id="${review.review.id}">좋아요</a> <span class="heart-count">${review.heartCnt}</span>
                                </div>
                            </div>
                        </div>
                    `;
                });
                currentPage++;
                if (data.last) {
                    document.getElementById('loadMore').style.display = 'none';
                }
                attachLikeEvents();
                attachLikeCountEvents();
                attachSpoilerEvents();
            });
    }

    function createStarRating(rating) {
        if (rating === '평가 없음') {
            return '<span class="user-rating">평가 없음</span>';
        }
        const ratingValue = parseFloat(rating);
        const fullStars = Math.floor(ratingValue);
        const decimalPart = ratingValue - fullStars;
        const fillWidth = (fullStars + decimalPart) * 20; // 20% per star

        return `
            <div class="star-rating" title="${rating}">
                <div class="fill-stars" style="width: ${fillWidth}%;">
                    <span>★★★★★</span>
                </div>
                <div class="empty-stars">
                    <span>★★★★★</span>
                </div>
            </div>
        `;
    }

    function attachLikeEvents() {
        $('.like-button').off('click').on('click', function() {
            var reviewId = $(this).data('review-id');
            var $button = $(this);

            $.ajax({
                url: '/api/review/heart/' + reviewId,
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({reviewId: reviewId, heart: !$button.hasClass('active')}),
                success: function(response) {
                    if (response.heart) {
                        $button.addClass('active');
                    } else {
                        $button.removeClass('active');
                    }
                    $button.closest('.card-body').find('.heart-count').text(response.updateHeartCnt);
                },
                error: function(xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        });
    }

    function attachLikeCountEvents() {
        $('.like-count').off('click').on('click', function(e) {
            e.preventDefault();
            var reviewId = $(this).data('review-id');
            openLikeModal(reviewId);
        });
    }

    function openLikeModal(reviewId) {
        let page = 0;
        const size = 10;
        const userList = document.getElementById('likeUserList');
        userList.innerHTML = '';

        loadLikes();

        function loadLikes() {
            fetch(`/api/review/${reviewId}/likes?page=${page}&size=${size}`)
                .then(response => response.json())
                .then(data => {
                    data.content.forEach(user => {
                        const isCurrentUser = user.user.email === /*[[${#authentication.name}]]*/ 'currentUserEmail';

                        userList.innerHTML += `
                            <li class="like-user-item">
                                <a href="/info/${user.user.email}">
                                    <img src="${user.user.picture}" alt="${user.user.nickname}" class="user-picture">
                                </a>
                                <div class="like-user-info">
                                    <div class="user-nickname">${user.user.nickname}</div>
                                    <div class="like-user-stat">
                                        <span className="ratingCnt">평가 ${user.ratingCnt}개</span>
                                        <span className="reviewCnt">리뷰 ${user.reviewCnt}개</span>
                                    </div>
                                </div>
                                ${!isCurrentUser ? `
                                    <button class="subscription-btn ${user.subscribed ? 'active' : ''}"
                                            data-email="${user.user.email}">
                                        ${user.subscribed ? '구독 취소' : '구독'}
                                    </button>
                                ` : ''}
                            </li>
                        `;
                    });
                    page++;
                    if (data.last) {
                        userList.removeEventListener('scroll', handleScroll);
                    }
                });
        }
        function handleScroll() {
            if (userList.scrollTp + userList.clientHeight >= userList.scrollHeight - 5) {
                loadLikes();
            }
        }

        userList.addEventListener('scroll', handleScroll);
        document.getElementById('likeModal').style.display = 'block';
    }

    function attachSpoilerEvents() {
        document.querySelectorAll('.spoiler-toggle').forEach(button => {
            button.addEventListener('click', function() {
                const spoilerText = this.nextElementSibling;
                if (spoilerText.style.display === 'none') {
                    spoilerText.style.display = 'block';
                    this.textContent = '스포일러 숨기기';
                } else {
                    spoilerText.style.display = 'none';
                    this.textContent = '스포일러 포함';
                }
            });
        });
    }

    function goBack() {
       window.history.back();
    }


    document.querySelector('.close').onclick = function() {
        document.getElementById('likeModal').style.display = 'none';
    }

    window.onclick = function(event) {
        if (event.target == document.getElementById('likeModal')) {
            document.getElementById('likeModal').style.display = 'none';
        }
    }


    document.getElementById('sorting').addEventListener('change', function() {
        currentPage = 0;
        document.getElementById('reviewList').innerHTML = '';
        loadReviews();
    });

    document.getElementById('loadMore').addEventListener('click', loadReviews);

    // 초기 로드
    loadReviews();
</script>
</body>
</html>