<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<!--<div th:replace="fragments/header.html :: header ('myPage')"/>-->
<!--<div th:replace="fragments/myPageHeader.html :: myPageHeader"/>-->
<br/><br/>
<div class="row">
    <div class="offset-2 col-1">
        <h5>전체: [[${reviews.size}]]개</h5>
    </div>
</div>
<br/>
<div class="row">
    <div class="offset-2 col-8">
        <table class="table list-table table-hover text-center">
            <thead style="background-color: #A5F1E9">
            <tr>
                <th style="width: 16%">게시판</th>
                <th style="width: 20%">작성자</th>
                <th style="width: 35%">제목</th>
                <th style="width: 7%">좋아요</th>
                <th style="width: 7%">댓글</th>
                <th style="width: 15%">작성일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="review: ${reviews}"
                th:onclick="|location.href='@{/reviews/{reviewId} (reviewId=${review.id})}'|">

                <!--                <td th:if="${#strings.toLowerCase(board.category) == 'greeting'}" style="width: 16%">가입인사</td>-->
<!--                <td th:if="${#strings.toLowerCase(board.category) == 'free'}" style="width: 16%">자유게시판</td>-->
<!--                <td th:if="${#strings.toLowerCase(board.category) == 'gold'}" style="width: 16%">골드게시판</td>-->
                <td style="width: 16%" th:text="게시판"/>
                <td style="width: 20%" th:text="${review.user.nickname}"/>
                <td style="width: 35%" th:text="${review.title}"/>
                <td style="width: 7%" th:text="${review.heartCnt}"/>
                <td style="width: 7%" th:text="${review.commentCnt}"/>
                <td style="width: 15%" th:text="${#temporals.format(review.uploadDate, 'yy/MM/dd HH:mm')}"/>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>