<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/bodyHeader.css">

    <title>패치노트 목록</title>
    <style>
        .container {
            position: relative; /* container 요소에 position: relative; 추가 */
            padding: 10px 200px;
        }
    </style>
</head>
<script th:src="@{'/js/search.js'}"></script>

<body>
    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <div class="container">
        <h1>패치노트 목록</h1>
        <ul>
            <li th:each="note : ${patchNotes}">
                <a th:href="@{'/patch-notes/' + ${note.version}}" th:text="${note.title + ' (' + note.version + ')'}"></a>
            </li>
        </ul>

        <div th:replace="fragments/footer :: footer" />
    </div>
</body>
</html>